h1{
text-align:center;
font-color:green;
line-height:2
letter-spacing:3px;
padding: 20px 0;
margin;10px;
}
strong{
color:red;
}
a{
color:red;
}

p{
color:green;
font-family: 'Indie Flower', cursive;
}

html{
background-color:#f3f3f5;
}

body{
width:window.screen.width;
margin;0 auto;
background-color: #FF9500;
padding: 0 20px 20px 20px;
border: 5px solid black;
}

img{
display:block;
margin: 0 auto;
}